mixin link_stylesheet(file_name)
  link(rel="stylesheet", href="/stylesheets/" + file_name + ".css")

mixin javascript_script(file_name, ...additional_files)
  script(src="javascripts/" + file_name + ".js")
  each file in additional_files
    script(src="javascripts/" + file + ".js")