include _mixins.pug

doctype html
html
  head
    title Sushi Restaurant Website
    +link_stylesheet("styles")
    +javascript_script("vendor/all")
  body
    block content

    +javascript_script("models/item")
    +javascript_script("collections/items", "cart")
    +javascript_script("views/items", "item", "cart", "checkout")
    +javascript_script("app", "router")

  script.
    App.items = new Items(!{JSON.stringify(menuItems)});