include _mixins.pug

doctype html
html
  head
    title Sushi Restaurant Website
    +link_stylesheet("font-awesome-4.7.0/css/font-awesome.min")
    +link_stylesheet("styles")
    +javascript_script("vendor/all")
    +javascript_script("handlebars_templates")
  body
    header
      a.logo(href="/")
        img(src="/images/logo.png")
      .cart
        a(href="/")
          span.left Shopping Cart
          span.right.
            #[span.count 0]
            items
    main
      #cart
      #content

      //- #cart
      //- ul#items
      //- #item_details
      //- #checkout

    footer

    block content

    +javascript_script("app")
    +javascript_script("models/item")
    +javascript_script("collections/items", "cart")
    +javascript_script("views/items", "item", "cart", "checkout")

    script.
      App.items = new Items(!{JSON.stringify(menuItems)});
      App.cart = new Cart(App.readStorage());
      App.cartView = new CartView({ collection: App.cart });

    +javascript_script("router")
